* {
    font-family: "Poppins", sans-serif;
}


/* navbar */
a.nav-link.btn {
    border: 2px solid #D8D8D8;
    font-weight: 600;
    color: black;
    font-size: 14px;
}

a.nav-link.btn.active,
a.nav-link.btn:hover {
    background: #C42021;
    border-color: #C42021;
    color: white;
}

.logo {
    width: 175px;
}


/* hero */
.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-shadow {
    text-shadow: 2px 2px 1px #757575;
}

.fw-extrabold {
    font-weight: 900;
}

.bg-dark-glass {
    background: rgba(0, 0, 0, 0.6);
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

input {
    outline: unset !important;
    box-shadow: unset !important;
}

.map {
    background-image: url("../img/map-icon.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 6%;
}

.hand {
    background-image: url("../img/hand-icon.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 6%;
}

.car {
    background-image: url("../img/car.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 6%;
}

.calc {
    background-image: url("../img/calc.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 6%;
}

.fs-14 {
    font-size: 14px;
}

.btn-red {
    background-color: #FF0000;
}