* {
    font-family: "Lato", sans-serif;
}


/* navbar */
a.nav-link.btn {
    border: 2px solid #D8D8D8;
    font-weight: 600;
    color: black;
}

a.nav-link.btn.active,
a.nav-link.btn:hover {
    background: #C42021;
    border-color: #C42021;
    color: white;
}

.logo {
    width: 175px;
}